<div class='chatWindow'>
  <h1 class='whiteText'><%= @chatroom.topic %></h1>

  <div>
    <% if @chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @chatroom.messages%>
      </div>
    <%else%>
      <div id="messages">
      </div>
    <%end%>
  </div>

  <div>
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
  </div>
</div>
