<div class='center' id='about'>
Synapse serves to connect.
  <div>
    In a world driven by entry fees and exclusivity,
    Synapse connects businesses with developers through an intuitive platform for Web design and management
  </div>
  <div>
    Built with a React on Rails engine by <%= link_to 'George Li', 'https://github.com/K9Advantix53' %>
  </div>
</div>
