<div class='center' id='about'>
Synapse serves to connect.
  </br>
  </br>
  <div>
    Synapse connects businesses with developers through an intuitive platform for web design, creation, and management
  </div>

  </br>
  </br>

  <div>
    To interact with this web app, <%= link_to 'register', new_user_registration_path %> or <%= link_to 'log in here', new_user_session_path %> using the test account:
  </div>

  <div>
    email: test@test.com
  </div>
  <div>
    password: testing
  </div>

  <div class="space30">

  </div>

  <div>
    Built with a React on Rails engine by <%= link_to 'George Li', 'https://github.com/K9Advantix53' %>
  </div>
</div>
