  <div class="half">
    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label for="tab-one">Open Projects</label>
      <div class="tab-content">
        <div id='projectIndex'>
        </div
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label for="tab-two">Create a Project</label>
      <div class="tab-content">
        <div id='projectForm'>
        </div>
      </div>
    </div>
    <% end %>

    <!-- <div class="tab">
      <input id="tab-three" type="checkbox" name="tabs">
      <label for="tab-three">Label Three</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div> -->
  </div>
</div>
