@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#about {
  width: 50%;
  min-height: 70px;
  background-color: #414042;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 35px;
}
